<div class="layui-fluid" id="VIEW-index" lay-title="首页">
    <div class="layui-row layui-col-space15">
        <script type="text/html" template>
            <div class="layui-col-xs12">
                <div class="padding-tb-xs">
                    <span class="text-xxxl">{{layui.conf.name}}</span>
                </div>
            </div>
            <div class="layui-col-xs12">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-red">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日订单数量
                            </p>
                            <span class="text-bold text-xxxl text-num padding-left-sm">
                                {{layui.tools.rand(100, 1000)}}
                            </span>
                            <span class="text-sm">单</span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-cyan">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日订单金额
                            </p>
                            <span class="text-bold text-xxxl text-num text-price padding-left-sm">
                                {{layui.tools.rand(1000, 100000)}}
                            </span>
                            <span class="text-sm"></span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-blue">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日发货数量
                            </p>
                            <span class="text-bold text-xxxl text-num text-price padding-left-sm">
                                {{layui.tools.rand(10, 1000)}}
                            </span>
                            <span class="text-sm">件</span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-red">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日订单数量
                            </p>
                            <span class="text-bold text-xxxl text-num padding-left-sm">
                                {{layui.tools.rand(100, 1000)}}
                            </span>
                            <span class="text-sm">单</span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-cyan">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日订单金额
                            </p>
                            <span class="text-bold text-xxxl text-num text-price padding-left-sm">
                                {{layui.tools.rand(1000, 100000)}}
                            </span>
                            <span class="text-sm"></span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-blue">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日发货数量
                            </p>
                            <span class="text-bold text-xxxl text-num text-price padding-left-sm">
                                {{layui.tools.rand(10, 1000)}}
                            </span>
                            <span class="text-sm">件</span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-red">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日订单数量
                            </p>
                            <span class="text-bold text-xxxl text-num padding-left-sm">
                                {{layui.tools.rand(100, 1000)}}
                            </span>
                            <span class="text-sm">单</span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-cyan">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日订单金额
                            </p>
                            <span class="text-bold text-xxxl text-num text-price padding-left-sm">
                                {{layui.tools.rand(1000, 100000)}}
                            </span>
                            <span class="text-sm"></span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-blue">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日发货数量
                            </p>
                            <span class="text-bold text-xxxl text-num text-price padding-left-sm">
                                {{layui.tools.rand(10, 1000)}}
                            </span>
                            <span class="text-sm">件</span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-red">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日订单数量
                            </p>
                            <span class="text-bold text-xxxl text-num padding-left-sm">
                                {{layui.tools.rand(100, 1000)}}
                            </span>
                            <span class="text-sm">单</span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-cyan">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日订单金额
                            </p>
                            <span class="text-bold text-xxxl text-num text-price padding-left-sm">
                                {{layui.tools.rand(1000, 100000)}}
                            </span>
                            <span class="text-sm"></span>
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm4 layui-col-lg3">
                        <div class="bg-white padding-sm solids-left line-blue">
                            <p class="text-lg margin-bottom-xs padding-left-sm">
                                今日发货数量
                            </p>
                            <span class="text-bold text-xxxl text-num text-price padding-left-sm">
                                {{layui.tools.rand(10, 1000)}}
                            </span>
                            <span class="text-sm">件</span>
                        </div>
                    </div>
                </div>
            </div>
        </script>
        <div class="layui-col-xs12 layui-col-sm8">
            <div style="width: 100%;height: 410px;" id="index-echartLine"></div>
        </div>
        <div class="layui-col-xs12 layui-col-sm4">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs12">
                    <div style="width: 100%;height: 200px;" id="index-echartLine1"></div>
                </div>
                <div class="layui-col-xs12">
                    <div style="width: 100%;height: 200px;" id="index-echartLine2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'echarts', 'element'], function (admin, echarts, element) {
        var $ = layui.jquery
        var view = $('#VIEW-chart-index')
        element.render('progress')

        var option = {
            legend: {},
            tooltip: {},
            dataset: {
                dimensions: ['product', '今日订单'],
                source: []
            },
            xAxis: {type: 'category'},
            yAxis: {},
            // Declare several bar series, each will be mapped
            // to a column of dataset.source by default.
            series: [
                {type: 'line'},
            ]
        };

        var createSource = [];
        for (var i = 0; i < 10; i++) {
            createSource.push({
                'product': "2020-" + (i + 1),
                '今日订单': layui.tools.rand(100, 1000)
            });
        }
        option.dataset.source = createSource;

        echarts
            .init(document.getElementById('index-echartLine'), 'blue')
            .setOption(option)

        option.series[0].type = "bar";
        echarts
            .init(document.getElementById('index-echartLine1'), 'blue')
            .setOption(option)

        createSource = [];
        for (var i = 0; i < 10; i++) {
            createSource.push({
                'product': "2020-" + (i + 1),
                '订单金额': layui.tools.rand(100, 1000)
            });
        }
        option.dataset.dimensions[1] = "订单金额";
        option.dataset.source = createSource;
        option.series[0].type = "line";

        echarts
            .init(document.getElementById('index-echartLine2'), 'blue')
            .setOption(option)
    })
</script>