<style>
#VIEW-login{
    height: 100%;
    background:#252834;
    padding-top:1px;
    margin-top:-1px;
}

#VIEW-login .layui-logo{
    user-select: none;
    overflow: hidden;
    position: static;
    font-size: 30px;
    width: 100%;
    padding:0;
    line-height: 120px;
    height: 120px;
    color: #3491ff;
    transition: height .8s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
}

#VIEW-login .layui-logo span{
    font-weight: normal;
    color:#fff;
    border-bottom: 1px solid #3491ff;
    font-size: 2rem;
}

#VIEW-login .layui-logo span b{
    color: #3491ff;
}

#VIEW-login .login-wrap{
    position: relative;
    top:50%;
    margin-top:-290px;
    height: 540px;
}

#VIEW-login .layui-form{
    overflow: hidden;
    background: #fff;
    padding:40px;
    padding-bottom:20px;
    border-radius: 0px;
    box-shadow: 0 0 30px #000;
    position: relative;
}
#VIEW-login .layui-form-item{
    position: relative;
}
#VIEW-login .verify-block{
    /*display: none;*/
}
#VIEW-login .layui-input{
    text-indent:26px;
}
#VIEW-login .codeimg{
    margin-left: 10px;
    cursor: pointer;
}
#VIEW-login .sendsms{
    position: absolute;
    top:4px;
    right: 4px;
    width: 100px;
    border:none;
}
#VIEW-login .sendsms.layui-btn-disabled{
    background: #f4f4f4;
    color:#bbb;
}
#VIEW-login .houseimg{
    text-align: center;
}
#VIEW-login .houseimg img{
    display: inline-block;
    margin-top:5%;
}

#VIEW-login .login-type-tab{
    margin-bottom: 20px;
    overflow: hidden;
}
#VIEW-login .login-type-tab li{
    display: inline-block;
    padding-right: 20px;
    font-size: 16px;
    line-height: 30px;
    color:#bbb;
    cursor: pointer;
    transition: color .5s ease;
}
#VIEW-login .login-type-tab li.active{
    color:#333;
}
#VIEW-login .login-type-tab li .qrcode-icon{
    font-size: 24px;
}
#VIEW-login .phonecode-block{
    display: none;
}
#VIEW-login .qrcode-block{
    text-align: center;
    display: none;
}

#VIEW-login .qrcode-block .qrcode{
    border:1px solid #eee;
    display: inline-block;
    padding:15px;
    margin:30px 0;
    width: 158px;
    height: 158px;
}

#VIEW-login .qrcode-block .qrcode .layui-icon{
    line-height: 158px;
    font-size: 44px;
    color:#e6e6e6;
}
#VIEW-login .qrcode-block .p1{
    font-size: 16px;
}
#VIEW-login .qrcode-block .p2{
    font-size: 14px;
    color:#999;
    margin-top:10px;
    margin-bottom: 20px;
}
#VIEW-login .layui-form-item .label-icon{
    position: absolute;
    top:0;
    left:0;
    width: 38px;
    line-height: 38px;
    text-align: center;
    color: #d2d2d2 !important;
}

</style>
<div id="VIEW-login" lay-title="登录">
    <div class="login-wrap">
        <div class="layui-container">
            <div class="layui-row">
                <!--渲染图标和网站名-->
                <div class="layui-col-xs12 layui-col-sm6 layui-col-lg4 layui-col-sm-offset3 layui-col-lg-offset4 text-center">
                    <script type="text/html" template>
                        <div class="layui-logo">
                            <img src="{{layui.conf.logo}}" style="height: 25px"/>
                            <span>{{layui.conf.name}}</span>
                        </div>
                    </script>
                </div>

                <div class="layui-col-xs12 layui-col-sm6 layui-col-lg4 layui-col-sm-offset3 layui-col-lg-offset4">
                    <div class="layui-form" lay-filter="login-form">
                        <!--登录类型-->
                        <script type="text/html" template>
                            <ul class="login-type-tab">
                                <li login-type="password" class="active">密码登录</li>
                                {{# if(layui.conf.admin.login.sms){ }}
                                <li login-type="phonecode">短信登录</li>
                                {{# } }}
                                {{# if(layui.conf.admin.login.qrcode){ }}
                                <li login-type="qrcode" class="fr" style="padding-right: 0;" lay-tips="扫码登录" >
                                    <span class="fa fa-qrcode text-xl"></span>
                                </li>
                                {{# } }}
                            </ul>
                        </script>

                        <div class="normal-login-form">
                            <!--用户名和密码也许需要保存-->
                            <script type="text/html" template>
                                <div class="layui-form-item">
                                    <label class="layui-icon label-icon layui-icon-username"></label>
                                    <input type="text" name="username" value="{{ layui.session.get('login_username') || ''}}" lay-verify="require" lay-verType="tips" placeholder="登录用户名" maxlength="11" autocomplete="off" class="layui-input username">
                                </div>
                                <div class="layui-form-item password-block">
                                    <label class="layui-icon label-icon layui-icon-password"></label>
                                    <input type="password" name="password" value="" lay-verify="password" lay-verType="tips" placeholder="登录密码" autocomplete="off" class="layui-input">
                                </div>
                            </script>

                            <script type="text/html" template id="loginCodeImg">
                                <div class="layui-form-item verify-block">
                                    <div class="layui-row">
                                        <div class="layui-col-sm7 layui-col-xs8">
                                            <label class="layui-icon label-icon layui-icon-vercode"></label>
                                            <input type="text" maxlength="6" name="vercode" lay-verify="imgCode" lay-verType="tips" placeholder="图形验证码" class="layui-input vercode" autocomplete="off">
                                        </div>
                                        <div class="layui-col-sm5 layui-col-xs4 text-center">
                                            <img class="codeimg" src="{{ layui.conf.admin.apis.captcha }}" style="height: 40px;max-width: calc(100% - 10px);text-align: center" />
                                        </div>
                                    </div>
                                </div>
                            </script>

                            <!--短信登录-->
                            <div class="layui-form-item phonecode-block">
                                <label class="layui-icon label-icon layui-icon-cellphone"></label>
                                <input type="text" name="smsCode" maxlength="4" lay-verify="smsCode" lay-verType="tips" placeholder="手机验证码" class="layui-input" autocomplete="off">
                                <button class="layui-btn layui-btn-danger layui-btn-sm sendsms layui-btn-disabled">获取验证码</button>
                            </div>

                            <div class="layui-form-item">
                                <input type="checkbox" name="autoLogin" title="下次记录账号" lay-skin="primary" checked>
                            </div>

                            <div class="layui-form-item">
                                <button class="layui-btn layui-btn-normal layui-btn-fluid" lay-submit lay-filter="login-submit">
                                    立即登录
                                </button>
                            </div>
                        </div>

                        <!--扫描二维码登录-->
                        <div class="qrcode-block">
                            <div class="qrcode qrcode-image">
                                <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>
                            </div>
                            <p class="p1">1秒即登录，方便又安全</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

layui.use(['jquery','form','session','http','layer','md5','qrcode'],function(){
    var $ = layui.jquery, form = layui.form, layer = layui.layer,
        conf = layui.conf, session = layui.session, http = layui.http, md5 = layui.md5;

    //初始化登录类型为密码登录
    var currentLoginType = 'password', QRExists = false;

    //渲染form
    form.render();

    var viewBody = $('#VIEW-login'),
        tabBtns = viewBody.find('.login-type-tab li'),
        //验证码登录区域
        verifyImageArea = viewBody.find('.verify-block'),
        //二维码登录
        viewQrcode = viewBody.find(".qrcode-image");

    //绑定切换图片
    verifyImageArea.find("img").click(function(e){
        var $this = $(this), src = $this.attr("src");
        $this.attr("src", src + (src.indexOf("?") >= 0 ? '&' : '?') + "_v=" + (new Date()).getTime());
    });

    //可以使用的登录方式
    var loginCanUseType = {
        normalArea: viewBody.find('.normal-login-form'),
        elem:{
            password: viewBody.find('.password-block'),
            phonecode: viewBody.find('.phonecode-block'),
            qrcode: viewBody.find('.qrcode-block')
        },
        password:function(){
            verifyImageArea[conf.admin.login.vercode?'show':'hide']();
            this.tabs('password');
        },
        phonecode:function(){
            verifyImageArea.show();
            this.tabs('phonecode');
        },
        qrcode:function(){
            createQrcode();
            this.normalArea.hide();
            this.elem.qrcode.show();
            currentLoginType = 'qrcode';
        },
        tabs:function(name){
            this.normalArea.show();
            layui.each(this.elem,function(key,elem){
                elem.css('display', name == key ? 'block' : 'none');
            });
            currentLoginType = name;
        }
    };

    //点击切换登录方式
    tabBtns.click(function(){
        var $this = $(this), type = $this.attr('login-type');
        $this.addClass('active').siblings().removeClass('active');
        layer.closeAll();
        loginCanUseType[type] && loginCanUseType[type]();
    });

    //更改了默认登录方式，设置为默认
    if(currentLoginType !== 'password'){
        tabBtns.each(function(i){
            var elem = tabBtns.eq(i);
            if(elem.attr('login-type') === currentLoginType) elem.click();
        })
    } else {
        verifyImageArea[conf.admin.login.vercode?'show':'hide']();
    }

    function createQrcode(){
        if(QRExists == false){
            setTimeout(function(){
                layui.tools.qrcode(viewQrcode, conf.admin.apis.qrcode || "暂未设置二维码登录地址");
                viewQrcode.find('.layui-icon').hide();
                QRExists = true;
            },500)
        }
    }

    var viewSendsmsBtn = viewBody.find('.sendsms'),
        usernameInput = viewBody.find('.username'),
        vercodeInput = verifyImageArea.find(".vercode"),
        btnDisabledCls = 'layui-btn-disabled', smsCountdown = false;

    //检查获取验证码的按钮效果
    function checkSendsmsBtnStatus(){
        if(currentLoginType != 'phonecode') return;
        var reg = layui.form.config.verify.phone[0];
        if(smsCountdown == false && reg.test(usernameInput.val()) && vercodeInput.val().length >= 3){
            viewSendsmsBtn.removeClass(btnDisabledCls);
        }else{
            viewSendsmsBtn.addClass(btnDisabledCls);
        }
    }

    //绑定监听事件
    usernameInput.on('keyup', checkSendsmsBtnStatus);
    vercodeInput.on('keyup', checkSendsmsBtnStatus);

    //发送短信按钮
    viewSendsmsBtn.click(function(){
        var $this = $(this), defHtml = $this.html();
        if($this.hasClass(btnDisabledCls)) return;
        $this.addClass(btnDisabledCls);

        http.post(conf.admin.apis.sms, {
            username: usernameInput.val(),
            vercode: vercodeInput.val()
        }, function(data, msg){
            smsCountdown = true;

            layui.tools.countdown(function(second){
                if(second <= 0){
                    $this.removeClass(btnDisabledCls).html(defHtml);
                    smsCountdown = false;
                } else {
                    $this.html(second + ' 秒');
                }
            }, 60);
        }, function(){
            $this.removeClass(btnDisabledCls);
        }, function(status, res){
            $this.removeClass(btnDisabledCls);
        })
    });

    form.verify({
        password:function(value,el){
            if(currentLoginType == 'password' && value.length < 6) return '登录密码不能少于 6 位';
        },
        imgCode:function(value){
            if(currentLoginType == 'phonecode' && value.length != 4) return '图形验证码错误';
        },
        smsCode:function(value){
            if(currentLoginType == 'phonecode' && (isNaN(value) || value.length < 3))  return '手机验证码错误'
        }
    });

    //提交登录表单
    form.on('submit(login-submit)',function(formData){
        var $this = $(this).parent().parent().parent();
        $this.loading();

        http.post(conf.admin.apis.login, {
            username: formData.field.username,
            password: md5(formData.field.password),
            vercode: formData.field.vercode || '',
            smscode: formData.field.smsCode
        }, function(data, msg){
            $this.loading();

            if(formData.field.autoLogin != 'on'){
                session.set('login_username', '');
            }else{
                session.set('login_username', formData.field.username);
            }

            session.login(data);

            layui.admin.navigate('/');
        }, function(){
            $this.loading();

            verifyImageArea.find("img").click();
        });

        return false;
    })

})
</script>