.layui-layout-admin {
  & .layui-body {
    top: 0;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: 15px;
  }
  & .thinker-tabs-body{
    padding-top: 86px;
    float: left;
  }
  & .layui-form-item .layui-footer{
    position: initial;
    background: transparent;
  }
}

/** 修正css */
.layui-table-view .layui-table[lay-size=sm] .layui-form-switch{
  height: 18px;
  line-height: 20px;
  padding: 0 2px;
}
.layui-table-view .layui-table[lay-size=sm] .layui-form-switch i{
  top: 3px;
  width: 12px;
  height: 12px;
}
.layui-table-view .layui-table[lay-size=sm] .layui-form-onswitch i{
  margin-left: -16px;
}
.layui-card .layui-card-header.thinker-pad-tb20{
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  height: auto;
}
.layui-card .layui-card-header.thinker-pad-tb20 .layui-inline button{
  margin-left: 110px;
  max-width: 110px;
}
.layui-laypage-limits select{
  position: relative;
  color: #555;
  text-shadow: none;
  cursor: pointer;
  width: 100%;
  border: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.layui-laypage-limits select:hover{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.layui-laypage-limits select:focus {
  outline: none;
}
.thinker-tabs-body .layui-form-item .layui-footer{
  position: initial;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .layui-layout-admin {
    & .layui-body, & .thinker-header {
      width: 100%;
    }
    & .thinker-tabs-body{
      padding-top: 50px;
    }
    & .thinker-tabs-wrap {
      display: none;
    }
  }
  .thinker-shrink-app {
    & .thinker-sidebar {
      width: 0;
    }
    & .layui-body, & .thinker-header .layui-layout-left,
    & .thinker-tabs-wrap .thinker-tabs-menu,& .thinker-tabs-wrap .thinker-tabs-prev {
      left: 0;
    }
  }

  .thinker-header .layui-nav .layui-nav-child {
    left: -30px;
  }
}